<!--View-->
<h1>Add a Video</h1>

<form>
    <div class="form-group">
        <label>Title</label>
        <!--ng-model with this we tell Angular that anytime the value in the field is changed it should be automatically updated to the referenced property of $scope-->
        <!--So video.title will be set to $scope.video.title-->
        <input class="form-control" ng-model="video.title"></input>
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" ng-model="video.description""></textarea>
    </div>
    <!--ng-click tells Angular the execute the save method on $scope whic is defined in cidzy.js-->
    <input type="button" class="btn btn-primary" value="Save" ng-click="save()"></input>	
</form>